body{
    font-family: "DM Serif Display", serif;
}
.hero{
    height: 100vh;
    background: url('../images/gk_1.jpg')no-repeat center center/cover;
    position: relative;
}
.hero::after{
    content :"";
    position:absolute;
    top :0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:rgba(0,0,0,0.5);
}
.hero .container{
    position: relative;
    z-index: 7;
}
